{% import "_macros.html" as macros %}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Deceptify- Run Attack{% endblock %}

{% block page_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>

    <style>
        /* General Styling */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        /* Container for the entire section */
        .mainContainer {
            width: 100%;
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Log Container */
        #log {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 15px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 20px;
            max-width: 600px;
            margin: 0 auto 20px auto; /* Centered at the top */
        }

        /* Forms container to hold both forms side by side */
        .forms-container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin: 0 auto;
            max-width: 800px;
        }

        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            width: 45%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        form input[type="text"],
        form input[type="submit"] {
            width: calc(100% - 30px);
            padding: 10px 15px;
            margin: 10px 0;
            font-size: 16px;
            border: 2px solid #1abc9c;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.9);
            color: #2c3e50;
        }

        form input[type="submit"] {
            background-color: #1abc9c;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        form select {
            width: calc(100% - 30px);
            padding: 10px 15px;
            margin: 10px 0;
            font-size: 16px;
            border: 2px solid #1abc9c;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.9);
            color: #2c3e50;
        }

        form input[type="submit"]:hover {
            background-color: #16a085;
        }

        /* Audio and Button Styling */
        #audioContainer {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            max-width: 500px;
            margin: 30px auto;
        }

        button {
            background-color: #1abc9c;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #16a085;
        }

        /* Responsive Design */
        @media (max-width: 768px) {
            .forms-container {
                flex-direction: column;
                align-items: center;
            }

            form {
                width: 80%;
                margin-bottom: 20px;
            }
        }
    </style>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var socket = io();
            $("#cps").val("10.5")

            socket.on('connect', function () {
                socket.emit('connect_event', {data: 'I\'m connected!'});
                $('#initClientContainer').show();
                $('#mainContainer').hide();
            });

            socket.on('connection_update', function (msg, cb) {
                const isConnected = msg.data;
                console.log("Connection status:", isConnected);  // Debugging line

                var initClientContainer = $('#initClientContainer');
                var mainContainer = $('#mainContainer');
                var loadingIndicator = $('#loading');

                if (isConnected === true) {
                    initClientContainer.hide();
                    mainContainer.show();
                } else {
                    alert("There was a problem with communicating with your profile, please try again.");
                    if (loadingIndicator) {
                        loadingIndicator.hide();
                    }
                }

                if (cb) {
                    cb();
                }
                return false;
            });


            socket.on('server_update', function (msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Server Update: ' + msg.data).html());
                if (cb) cb();
            });

            // Handle client authentication request
            socket.on("client_auth", function (msg, cb) {
                var authCode = prompt("Authentication needed, please check out Telegram and provide the code that you've received:");

                if (authCode) {
                    socket.emit("auth_code", {code: authCode});
                }

                if (cb) {
                    cb();
                }
            });

            let displayedMessages = [];
            socket.on("new_messages_update", function (msg, cb) {
                $('#messages_received').val('');
                const messages = msg.data;
                for (const i in messages) {
                    if (!displayedMessages.includes(messages[i])) {
                        $('#messages_received').append('<br>' + $('<div/>').text('New Message: ' + messages[i]).html());
                        displayedMessages.push(messages[i]);
                    }
                }
                if (cb) {
                    cb();
                }
            });

            socket.on("new_audio", function (msg, cb) {
                var audio = $('#myAudio')[0];  // HTML Audio element
                var audioSource = $('#audioSource')[0];  // Source element within audio

                var file_url = "/get_audio?file_path=" + encodeURIComponent(msg.audio_path);
                audioSource.src = file_url;
                audio.load();

                $('#audioContainer').show();

                $('#acceptAndSendAudio').off('click').on('click', function (event) {
                    event.preventDefault();
                    socket.emit("client_audio_decision", {
                        action: 'accept',
                        audio: msg.audio_path,
                        receiver: $('#receiver_phone_number_audio').val()
                    });

                    $('#receiver_phone_number_audio').val('');
                    $('#audioContainer').hide();
                });

                $('#rejectAndRegenerate').off('click').on('click', function (event) {
                    event.preventDefault();
                    socket.emit("client_audio_decision", {
                        action: 'reject',
                        audio: msg.audio_path,
                        receiver: $('#receiver_phone_number_audio').val(),
                        tts: $('#text_to_speech').val(),
                        cps: $("#cps").val(),
                        profile_name: $("#profile_name_for_tts").val()
                    });

                    $('#receiver_phone_number_audio').val('');
                    $('#audioContainer').hide();
                });

                if (cb) {
                    cb();
                }
            });

            $('form#emit').submit(function (event) {
                event.preventDefault();
                socket.emit('new_message', {
                    message: $('#emit_data').val(),
                    receiver: $('#receiver_phone_number_text').val()
                });
                $('#emit_data').val('');
                $('#receiver_phone_number_text').val('');
            });

            $('form#audio').submit(function (event) {
                event.preventDefault();

                socket.emit("new_audio_gen_req", {
                    tts: $('#text_to_speech').val(),
                    profile_name_for_tts: $('#profile_name_for_tts').val(),
                    cps: $("#cps").val()
                });

                alert("We working on it... be patient :)")
            });

            $('form#ask_for_new_messages').submit(function (event) {
                event.preventDefault();
                socket.emit('ask_for_new_messages');
                return false;
            });

            $('form#initClientForm').submit(function (event) {
                event.preventDefault();
                var loadingIndicator = $('#loading');
                loadingIndicator.show();  // Show loading indicator during initialization

                socket.emit("init_client", {
                    app_id: $('#app_id').val(),
                    app_hash: $('#app_hash').val(),
                    phone_number: $('#phone_number').val(),
                    profile_name: $('#profile_name').val()
                });

                socket.on('connection_update', function (msg) {
                    loadingIndicator.hide();  // Hide loading indicator after connection update
                });
                $('#initClientContainer').append('<div id="loading">Initializing...</div>');
            });
        });
    </script>

    <div id="initClientContainer" style="display: none;">
        <form id="initClientForm" method="POST" action='#'>
            <input type="text" name="app_id" id="app_id" placeholder="Your App ID Here" value="{{ app_id }}">
            <input type="text" name="app_hash" id="app_hash" placeholder="Your App Hash Here" value="{{ app_hash }}">
            <select name="profile_name" id="profile_name">
                {% for name in names %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
                <option value="Drake">Drake</option>
                <option value="Rihana">Rihana</option>
                <option value="Elon_Musk">Elon_Musk</option>
            </select>
            <input type="text" name="phone_number" id="phone_number" placeholder="Your Phone Number Here">
            <input type="submit" value="Authorize Client">
        </form>
    </div>

    <div id="mainContainer" style="display: none;">
        <!-- Log Container -->
        <div id="log">Server Log: Waiting for updates...</div>

        <!-- Forms Container -->
        <div class="forms-container">
            <!-- Emit Form -->
            <form id="emit" method="POST" action='#'>
                <h3> Send a text message</h3>
                <input type="text" name="emit_data" id="emit_data" placeholder="Message">
                <input type="text" name="receiver" id="receiver_phone_number_text" placeholder="Receiver Phone Number">
                <input type="submit" value="Send Text">
            </form>

            <!-- Audio Form -->
            <form id="audio" method="POST" action='#'>
                <h3> Clone a voice </h3>
                <input type="text" name="emit_data" id="text_to_speech" placeholder="Text to Speech">
                <select name="profile_name_for_tts" id="profile_name_for_tts">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                    <option value="Drake">Drake</option>
                    <option value="Rihana">Rihana</option>
                    <option value="Elon_Musk">Elon_Musk</option>
                </select>
                <input type="text" name="cps" id="cps" placeholder="Characters Per Second">
                <input type="text" name="receiver" id="receiver_phone_number_audio" placeholder="Receiver Phone Number">
                <input type="submit" value="Generate Audio">
            </form>
        </div>

        <!-- Audio Container -->
        <div id="audioContainer" style="display: none;">
            <audio id="myAudio" controls>
                <source id="audioSource" type="audio/mpeg" src="">
                Your browser does not support the audio element.
            </audio>
            <button type="button" id="acceptAndSendAudio">Accept and Send Audio</button>
            <button type="button" id="rejectAndRegenerate">Reject and Regenerate Audio</button>
        </div>
    </div>
{% endblock %}
