blinker
certifi
cffi
charset-normalizer
click
dominate
Flask
Flask-Bootstrap
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
numpy
PyAudio
pycparser
PyGetWindow
pyperclip
python-dotenv
pytweening
requests
rubicon-objc
SoundCard
SpeechRecognition
typing_extensions
urllib3
visitor
Werkzeug
WTForms
