{% import "./_macros.html" as macros %}
{% extends "./base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
    <div class="page-header">
        <h1>Upload Existing Voice Recording File</h1>
    </div>
    <form method=post enctype="multipart/form-data">
        <table>
            {{ form.hidden_tag() }}
            {% for field in form %}
                <tr>
                    <td>{% if field.widget.input_type != 'hidden' %} {{ field.label }} {% endif %}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}