{% import "_macros.html" as macros %}
{% extends "base.html" %}

{% block title %}Deceptify{%endblock%}

{% block page_content %}
<div class="page-header">
    <h1>Welcome, User!</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<!--    <a href="{{url_for('new_voice_attack')}}">-->
<!--        <button type="button">Generate Voice Attack</button>-->
<!--    </a>-->

    <a href="{{url_for('information_gathering')}}">
        <button type="button">Start Attack Generation Process</button>
    </a>

    <a href="{{url_for('new_profile')}}">
        <button type="button">Create New Profile</button>
    </a>
    <a href="{{url_for('profileview')}}">
        <button type="button">View Profiles</button>
</div>
{%endblock%}
