{% import "_macros.html" as macros %}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
        Viewing {{profileo.getName()}}
{% endblock %}

{% block page_content %}
    <div>
        <p>Role: {{ profileo.getRole() }}</p>
        <p>General info: {{profileo.getGeneralInfo()}}</p>
        
    
        {% for attack in profileo.get_attacks() %}
            <div style="display: flex;">
                <p>Attacks: {{ attack.getName() }}</p>
                <button type="button" class="Transcript" onclick="alert('Transcript!')">Transcript</button>
                <button type="button" class="getRecording" onclick="alert('Recording!')">Recording</button>
                <br>
            </div>
        {% endfor %}
        <ul class="posts">
            <li><a href="{{url_for('view_prompts',profile=profileo.profile_name)}}">View prompts</a></li>
        </ul>
    </div>
{% endblock %}