{% import "./_macros.html" as macros %}
{% extends "./base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}
<head>
    <meta charset="UTF-8">
    <title>Deceptify-AttackDashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
{% endblock%}



{% block page_content %}
<div class="page-header">
    <h1>Pick prompt</h1>
</div>
{{ wtf.quick_form(form) }}
<br>
<div class="button-container">
    <button id="end_call" onclick=EndCall() >End call</button>
</div>
{%endblock%}
{% block scripts %}
<script>

    let isReload = false;

    // Set the flag when the form is submitted
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        form.addEventListener('submit', function() {
            isReload = true;
        });
    });

    const end_call_button = document.getElementById('end_call');
    function EndCall(){
        end_call_button.disabled = true;
        $.ajax({
            type: 'POST',
            url: '/end_call',
        }).done(function(data) {
            window.close();
        });
    }

    window.addEventListener('unload', function () {
        // Perform actions when the window is closed
        if (!isReload && !end_call_button.disabled) {
            navigator.sendBeacon('/end_call');
        }
    });

</script>
{%endblock%}
