{% import "./_macros.html" as macros %}
{% extends "./base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>View Video Prompts</h1>
</div>
{% if prompts %}
<h2>Prompts</h2>
<div>
    {% for prompt in prompts %}
    <button type="button" class="viewVideoButton" data-videopath="{{ url_for('serve_video', filename=prompt.videoname) }}">{{ prompt.prompt_desc }}</button>
    <br><br>
    {% endfor %}
    <video id="videoPlayer" controls style="display: none; width: 100%; max-width: 600px;">
        <source id="videoSource" src="" type="video/mp4">
        Your browser does not support the video element.
    </video>
</div>
{% endif %}
{{ wtf.quick_form(Addform) }}
<br>
{% if prompts %}
{{ wtf.quick_form(Deleteform) }}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('.viewVideoButton').forEach(button => {
        button.addEventListener('click', function() {
            var video = document.getElementById('videoPlayer');
            var source = document.getElementById('videoSource');
            source.src = this.getAttribute('data-videopath');
            video.load(); // Reload the video element to recognize the new source
            video.style.display = 'block';
            video.play();
        });
    });
</script>
{% endblock %}