{% import "_macros.html" as macros %}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
        Viewing {{profileo.getName()}}
{% endblock %}

{% block page_content %}
    <div>
        <h1>Profile name: {{profileo.getName()}}</h1>
        <p>General info: {{profileo.getGeneralInfo()}}</p>
        
        <p>Linked attacks: </p>
        {% for attack in profileo.get_attacks() %}

            <div style="display: flex;">
                <p>Campaign name: {{ attack["campaign_name"] }} Role: {{attack["role"] }} Purpose: {{ attack["purpose"] }} </p>
                <button type="button" class="Transcript" onclick="showTranscript('{{ attack["id"] }}')">Transcript</button>
                <button type="button" class="getRecording" onclick="getRecording('{{ attack["id"] }}')">Recording</button>
                <br>
            </div>
        {% endfor %}
        <ul class="posts">
            <li><a href="{{url_for('view_audio_prompts',profile=profileo.profile_name)}}">View audio prompts</a></li>
            {% if profileo.get_video_data() is not none %}
            <li><a href="{{url_for('view_video_prompts',profile=profileo.profile_name)}}">View video prompts</a></li>
            {% endif %}

        </ul>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function showTranscript(attackID) {
        fetch('/transcript/' + attackID)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                alert("Transcript: " + data.transcription);
            });
    }

    function getRecording(attackID) {
        window.location.href = '/recording/' + attackID;
    }
</script>
{% endblock %}